* {
  font-family: 'roboto', 'Gill Sans', 'Gill Sans MT', cursive, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 25px;
}

.mainSection {
 background-color: antiquewhite;
 width: 100%;
}

.divMain {
  display: flex;
}

.imgNavbar {
  border-radius: 15px;
  margin: 20px;
}


/* COMPONENTE DE TOTALES */

.mainContainer {
  display: flex;
  justify-content:space-evenly;
}

.totales {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.totales div {
  margin: 0px 10px;
  text-align: center;
}

/* TOTAL DE PRODUCTOS */

.totalProductos,
.totalCategorias,
.totalUsuarios {
  border: 2px solid orangered;
  padding: 10px;
  margin: 50px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.h3-productsT,
.h3-categoriasT,
.h3-usuariosT {
  font-size: 25px;
}

.p-productosT,
.p-categoriasT,
.p-usuariosT {

  font-size: 25px;
}

.sectionUltimo {
  height: 100%;
  width: 100%;
}

/* ARTICULO DE ULTIMOS */

.ultimos {
  padding: 10px;
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ULTIMO USUARIO Y ULTIMO PRODUCTO */

.ultimoProducto,
.ultimoUsuario {
  padding: 20px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fa703a;
  width: 100%;
  margin-top: 20px;
  transition: 1s;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
}

.ultimoItem {
  margin-top: 10px;
}

/* ULTIMO USUARIO */

.imgUltimo {
  width: 100%;
  object-fit: cover;
}

.sectionUltimoU {
  height: 100%;
  background-color: red;
}

/* PRODUCTOS POR CATEGORIA */

.productosCategorias {
  background-color: #ffed9f;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
  height: 10%;
  color: rgb(0, 0, 0);
}

.productosCategorias p {
  margin-top: 10px;
}

/* LISTADO DE PRODUCTOS */

.lista {
  margin: 40px;
  background-color: #ffd30f;
  padding: 20px;

}

.hrProduct {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* ULTIMO ARTICULO */

.lastArticle {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}

/* PRODUCTOS EN LISTADO DE PRODUCTOS */

.productoList {
  margin-top: 20px;
}

.productoListElement {
  margin-bottom: 15px;
}

.productoListLink {
  background-color: #00a8a8;
  text-decoration: none;
  color: #fff;
  transition: 1s;
  border-radius: 20px;
  padding: 3px 10px;
}

/* ESTILOS PARA EL NAV BAR */

.navbar {
  padding-top: 20px;
  min-height: 100vh;
  width: 30%;
  background-color: #ff9379ea;
  
}

.navbar-nav {
  display: flex;
  flex-direction:column;
}

.nav-link {
  margin: 10px 20px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.5s;
  border-radius: 20px;
}

@media (max-width: 800px) {


  .ultimoProducto,
  .ultimoUsuario {
      width: fit-content;
  }

  .ultimos {
      padding: 10px;
      display: flex;
      flex-direction: column;
  }

  .imgUltimo {
      width: 100%;
      object-fit: cover;
  }

}