* {
    font-family: 'Merienda', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .mainSection {
    background-color: rgb(206, 22, 22);
  }
  
  .divMain {
    display: flex;
  }
  
  /* COMPONENTE DE TOTALES */
  
  .totales {
    display: flex;
    padding: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid #1eacd3;
    justify-content: space-around;
  }
  
  .totales div {
    margin: 0px 10px;
    text-align: center;
  }
  
  /* TOTAL DE PRODUCTOS */
  
  
  
  .totalProductos,
  .totalCategorias,
  .totalUsuarios {
    border: 3px solid #11cccc;
    padding: 10px;
    border-radius: 10px;
    margin: 50px;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  
  .totalProductos:hover,
  .totalCategorias:hover,
  .totalUsuarios:hover {
    background-color: #053333;
    color: rgb(161, 127, 127);
  }
  
  .h3-productsT,
  .h3-categoriasT,
  .h3-usuariosT {
    font-size: 25px;
  }
  
  .p-productosT,
  .p-categoriasT,
  .p-usuariosT {
  
    font-size: 25px;
  }
  
  .sectionUltimo {
    height: 100%;
    width: 100%;
  }
  
  /* ARTICULO DE ULTIMOS */
  
  .ultimos {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* ULTIMO USUARIO Y ULTIMO PRODUCTO */
  
  .ultimoProducto,
  .ultimoUsuario {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13e2e2;
    width: 40%;
    transition: 1s;
    color: rgb(173, 123, 123);
  }
  
  .ultimoItem {
    margin-top: 10px;
  }
  
  /* ULTIMO USUARIO */
  
  .imgUltimo {
    width: 100%;
    object-fit: cover;
  }
  
  .sectionUltimoU {
    height: 100%;
    background-color: rgb(34, 5, 5);
  }
  
  /* PRODUCTOS POR CATEGORIA */
  
  .productosCategorias {
    background-color: #725217;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(214, 34, 34);
  }
  
  .productosCategorias p {
    margin-top: 10px;
  }
  
  /* LISTA */
  
  .lista {
    margin: 20px;
  }
  
  .hrProduct {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ULTIMO ARTICULO */
  
  .lastArticle {
    margin: 20px;
    display: flex;
    background-color: rgb(182, 144, 144);
  }
  
  /* LISTA */
  
  .productoList {
    margin-top: 20px;
  }
  
  .productoListElement {
    margin-bottom: 15px;
  }
  
  .productoListLink {
    background-color: #1a6d6d;
    text-decoration: none;
    color: #fff;
    transition: 1s;
    border-radius: 20px;
    padding: 3px 10px;
  }
  
  .productoListLink:hover {
    padding: 5px 20px;
  }
  
  /* ESTILOS PARA EL NAV BAR */
  
  .navbar {
    padding-top: 20px;
    min-height: 100vh;
    width: 30%;
    border-right: 4px solid #3c7d8f;
    background-color: #fae1cf;
  }
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }
  
  .nav-link {
    margin: 10px 20px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 1s;
    border-radius: 20px;
  }
  
  .nav-link:hover {
    padding: 5px 10px;
    background-color: #fff;
  }
  
  @media (max-width: 800px) {
  
  
    .ultimoProducto,
    .ultimoUsuario {
        width: fit-content;
    }
  
    .ultimos {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
  
    
  }
  